PaymentsPCI/Service References/CustWalletSVC/CustomerWallet2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49352/CustomerWallet.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PCIWallet" />
  <xs:element name="RetrieveWallet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWalletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PCIWallet" minOccurs="0" name="RetrieveWalletResult" nillable="true" type="q1:ArrayOfWalletInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PCIWallet" minOccurs="0" name="PaymentHistoryResult" nillable="true" type="q2:ArrayOfPaymentHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VoidPaymentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReversePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReversePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReversePaymentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PCIWallet" minOccurs="0" name="objPayment" nillable="true" type="q3:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakePaymentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>