PaymentsPCI/Service References/CustWalletSVC/CustomerWallet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerWallet" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49352/CustomerWallet.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49352/CustomerWallet.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49352/CustomerWallet.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PCIWallet" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerWallet_RetrieveWallet_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveWallet" />
  </wsdl:message>
  <wsdl:message name="ICustomerWallet_RetrieveWallet_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveWalletResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerWallet_PaymentHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentHistory" />
  </wsdl:message>
  <wsdl:message name="ICustomerWallet_PaymentHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerWallet_VoidPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:VoidPayment" />
  </wsdl:message>
  <wsdl:message name="ICustomerWallet_VoidPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoidPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerWallet_ReversePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:ReversePayment" />
  </wsdl:message>
  <wsdl:message name="ICustomerWallet_ReversePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReversePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerWallet_MakePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePayment" />
  </wsdl:message>
  <wsdl:message name="ICustomerWallet_MakePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerWallet">
    <wsdl:operation name="RetrieveWallet">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWallet/RetrieveWallet" message="tns:ICustomerWallet_RetrieveWallet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWallet/RetrieveWalletResponse" message="tns:ICustomerWallet_RetrieveWallet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWallet/PaymentHistory" message="tns:ICustomerWallet_PaymentHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWallet/PaymentHistoryResponse" message="tns:ICustomerWallet_PaymentHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoidPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWallet/VoidPayment" message="tns:ICustomerWallet_VoidPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWallet/VoidPaymentResponse" message="tns:ICustomerWallet_VoidPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReversePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWallet/ReversePayment" message="tns:ICustomerWallet_ReversePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWallet/ReversePaymentResponse" message="tns:ICustomerWallet_ReversePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWallet/MakePayment" message="tns:ICustomerWallet_MakePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWallet/MakePaymentResponse" message="tns:ICustomerWallet_MakePayment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerWallet" type="tns:ICustomerWallet">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveWallet">
      <soap:operation soapAction="http://tempuri.org/ICustomerWallet/RetrieveWallet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentHistory">
      <soap:operation soapAction="http://tempuri.org/ICustomerWallet/PaymentHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidPayment">
      <soap:operation soapAction="http://tempuri.org/ICustomerWallet/VoidPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReversePayment">
      <soap:operation soapAction="http://tempuri.org/ICustomerWallet/ReversePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayment">
      <soap:operation soapAction="http://tempuri.org/ICustomerWallet/MakePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerWallet">
    <wsdl:port name="BasicHttpBinding_ICustomerWallet" binding="tns:BasicHttpBinding_ICustomerWallet">
      <soap:address location="http://localhost:49352/CustomerWallet.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>