PaymentsPCI/Service References/CustWalletSVC/CustomerWallet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PCIWallet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PCIWallet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWalletInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WalletInfo" nillable="true" type="tns:WalletInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWalletInfo" nillable="true" type="tns:ArrayOfWalletInfo" />
  <xs:complexType name="WalletInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAccountLastFour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoutingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToketID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WalletInfo" nillable="true" type="tns:WalletInfo" />
</xs:schema>